services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: production
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tickets
      MYSQL_USER: adminserv
      MYSQL_PASSWORD: passserv
