services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: production
    volumes:
      - static_volume:/var/www/public
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/var/www/public
    depends_on:
      - app

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tickets
      MYSQL_USER: adminserv
      MYSQL_PASSWORD: passserv
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  static_volume:
